body{
	margin: 0;
	padding: 0;
}
*{
	border: box-content;
}

/*---------Search box---------*/
.search-box{
	position: absolute;
	top: 25%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #10dddd;
	height: 40px;
	border-radius: 40px;
	padding: 10px;
}
.search-btn{
	color:#40c06b;
	float: right;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #058a52;
	display: flex;
	justify-content: center; 
	align-items: center;
	transition: 0.4s;
}
#search-txt{
	border: none;
	background: none;
	outline: none;
	float: left;
	padding: 0;
	color: #fff;
	font-size: 16px;
	transition: 0.4s;
	line-height: 40px;
	width: 450px;
}